body {
	color: #222;
	max-width: 800px;
	margin: auto;
	padding: 0;
}

h1,h2,h3,h4,h5 {
	margin: 4px 0;
	padding: 10px 0;
}

p, ul {
	margin: 0;
	padding: 0;
}

ul li {
	height: 24px;
	line-height: 24px;
	list-style-type: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

a {
	text-decoration: none;
	color: #222;
}

pre {
	background: #eee;
	padding: 0;
	border-radius: 6px;
	font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;
}

pre code {
	border-radius: 4px;
}

div code,
p code,
ul code {
	border-radius: 4px;
	background: pink;
}

.right {
	float: right;
}

.left {
	float: left
}

.hide {
	display: none;
}

.header {
	height: 40px;
	line-height: 40px;
	border-bottom: gray 1px solid;
	padding: 0 10px;
}

.header .logo img {
	width: 40px;
}

.footer {
	border-top: gray 1px solid;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}

.body-content {
	padding: 10px;
	font-size: 14px;
}

.content-area {
	padding: 15px;
}

.strongit {
	font-size: 15px;
}

.icon {
	display: inline-block;
}

.delete {
	color: red;
}

.reply {
	color: blue;
}

.edit {
	color: green;
}

.return {
	font-size: 14px;
	color: #228;
}

.detail-body img {
	max-width: 100%;
}

.detail-body h1,
.detail-body h2,
.detail-body h3,
.detail-body h4,
.detail-body h5 {
	background: #eee;
	padding: 10px 20px;
	border-radius: 1px;
}

.detail-body ul {
	margin: 15px 0 15px 30px;
}

.detail-body ul li {
	list-style-type: disc;
}

.comment-title {
	font-size: 14px;
	background-color: #e8e8e8;
}

.vice-title {
	font-size: 14px;
}

.created-time {
	color: #555;
	font-size: 13px;
}

.action_area {
	padding: 10px 0 10px 0;
}

.new-article {
	display: inline-block;
	margin-right: 10px;
}


.article-list {
	margin-top: 10px;
	margin-bottom: 24px;
	font-size: 18px;
}

.article-list li {
	margin-bottom: 4px;
}

.article-list li .title {
	max-width: 80%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.article-list li .timestamp {
	font-size: 14px;
	color: #888;
}

.article-list-head span, .planet-space-head span {
	display: inline-block;
	border-bottom: 1px solid #666;
	font-size: 16px;
	line-height: 20px;
	color: #666;
}

.category-list-section {
	padding-top: 25px;
}

.category-list-section ul li {
	float: left;
	padding-right: 8px;
}

.article-list li span.title {
	max-width: 50%;
}

.article-list li .show-count {
	font-size: 14px;
	color: #888;
}

.article-list li .info {
	font-size: 14px;
	color: #888;
}

.detail-head {
	margin-bottom: 24px;
}

.body-content form {
	line-height: 40px;
}

/* .body-content form select {
    height: 20px;
} */

.body-content form input[type=text] {
	min-width: 240px;
    height: 26px;
    font-size: 16px;
	width: 60%;
	padding-left: 4px;
}

.body-content form textarea {
	width: 90%;
    min-width: 280px;
    min-height: 400px;
	font-size: 15px;
	padding-left: 4px;
}