body {
	color: #222;
	max-width: 960px;
	margin: auto;
	padding: 0;
}

h1,h2,h3,h4,h5 {
	margin: 4px 0;
	padding: 10px 0;
}

p, ul {
	margin: 0;
	padding: 0;
}

ul li {
	height: 24px;
	line-height: 24px;
	list-style-type: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

a {
	text-decoration: none;
	/* color: #222; */
}

pre {
	background: #eee;
	padding: 0;
	border-radius: 6px;
	font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;
}

pre code {
	border-radius: 4px;
}

div code,
p code,
ul code {
	border-radius: 4px;
	background: pink;
}

.right {
	float: right;
}

.left {
	float: left
}

.hide {
	display: none;
}

.header {
	height: 40px;
	line-height: 40px;
	border-bottom: gray 1px solid;
	padding: 0 10px;
}

.header .logo img {
		width: 40px;
}

.footer {
	border-top: gray 1px solid;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}

.body-content {
	padding: 10px;
	font-size: 14px;
}

.body-content .planet-space {
	border: gray 1px solid;
	padding-bottom: 4px;
	height: 108px;
	text-align: center;
	margin-top: 15px;
}

.body-content .category-section {
	margin-top: 15px;
	margin-right: -15px;
}

.one-section {
	width: calc(31% - 15px);
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 10px;
	border: gray 1px solid;
	height: 104px;
	float: left;
	min-width: 276px;
}

@media screen and (max-width: 960px) {
	.one-section {
			width: calc(100% - 50px);
	}
}

.content-area {
	padding: 15px;
}

.strongit {
	font-size: 15px;
}

.icon {
	display: inline-block;
}

.delete {
	color: red;
}

.reply {
	color: blue;
}

.edit {
	color: green;
}

.return {
	font-size: 14px;
	color: #228;
}

.detail-body img {
	max-width: 100%;
}

.detail-body h1,
.detail-body h2,
.detail-body h3,
.detail-body h4,
.detail-body h5 {
	background: #eee;
	padding: 10px 20px;
	border-radius: 1px;
}

.detail-body ul {
	margin: 15px 0 15px 30px;
}

.detail-body ul li {
	list-style-type: disc;
}

.comment-title {
	font-size: 14px;
	background-color: #e8e8e8;
}

.vice-title {
	font-size: 14px;
}

.created-time {
	color: #555;
	font-size: 13px;
}

.action_area {
	padding: 10px 0 10px 0;
}

.new-article {
	display: inline-block;
	margin-right: 10px;
}

.article-list-section, .planet-space-section {
	margin-bottom: 24px;
	font-size: 18px;
}

.article-list-section li, .planet-space-section li {
	margin: 2px 0 0 2px;
}

.article-list-section li .title, .planet-space-section li .title {
	width: 80%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul .timestamp {
	font-size: 14px;
	color: #888;
}

.article-list-head span, .planet-space-head span {
	display: inline-block;
	border-bottom: 1px solid gray;
	font-size: 16px;
	line-height: 20px;
	margin-left: 2px;
	color: #666;
	/* width: 25%; */
}

.article-list-container, .planet-space-container {
	margin-top: 16px;
}

.category-list-section {
	padding-top: 25px;
}

.category-list-section ul li {
	float: left;
	padding-right: 8px;
}