{% extends "forum/base.html" %}

{% block title %}
    {{ article.title }} - Rust语言中文社区
{% endblock title %}

{% block content %}
<!--<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">-->
<!-- <link rel="stylesheet" href="/css/gruvbox-light.css"> -->
<script src="/js/highlight.pack.js"></script>

<div class="article_detail detail">
    <div class="">
        {% if article.stype == 0 %}
            <a href="/section?id={{ article.section_id }}" class="return">&lt; 返回版块</a>
        {% else %}
            <a href="/blog?id={{ article.section_id }}" class="return">&lt; 返回博客</a>
        {% endif %}
        <div>
            <h3><a href="/article?id={{article.id}}">{{ article.title }}</a></h3>
        </div>
        <p class="vice-title">
            <a href="/blog?id={{ article.section_id }}">{{ author.nickname }}</a>

            发表于 <span class="article_created_time">xxx</span>

            {% if is_author or is_admin %}
            {% if article.stype == 0 %}
            <a class="edit" href="/p/article/edit?id={{article.id}}">编辑</a>
            {% else %}
            <a class="edit" href="/p/blogarticle/edit?id={{article.id}}">编辑</a>
            {% endif %}
            {% endif %}
        </p>
        <p>
            {% if article.tags %}
            <small>标签：{{ article.tags }}</small>
            {% endif %}
        </p>
    </div>

    <div class="detail-body">
        {{ article.content | safe }}
    </div>

    <div class="comments">
        <div class="">
            <h3>评论区
                <a class="right new-comment" href="/p/comment/new?article_id={{article.id}}">发表新评论</a>
            </h3>
        </div>

        {% if comments | length == 0 %}
            <p class="useless">还没有评论</p>
        {% else %}
            {% for comment in comments %}
            <div class="item">
                <div class="comment-title">
                    {% if comment.author_id == author.id %}
                        作者
                    {% endif %}
                    <a class="author-name" href="/blog?id={{ article.section_id }}">
                        {{ comment.nickname }}
                    </a>
                    <span class="created-time">{{ comment.created_time }}</span>
                    {% if is_login and user.id == comment.author_id %}
                    <a class="delete" href="/p/comment/delete?id={{comment.id}}">删除</a>
                    {% endif %}
                    {% if is_login %}
                    <a class="reply" href="/p/comment/new?reply_comment_id={{comment.id}}&article_id={{article.id}}">回复</a>
                    {% endif %}
                </div>
                <div class="comment-content">
                    {{ comment.content | safe }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="comment_paginator_part">
        <div class="comment_paginator right">
            {% for _ in range(end = total_page) %}
            <a href="/article?id={{article.id}}&current_page={{loop.index}}"
                    {% if loop.index==current_page %} class="current_page" {% endif %}>
                {{ loop.index }}
            </a>
            {% endfor %}
            共 {{ total_item }} 条评论, 共 {{ total_page }} 页
        </div>
    </div>
</div>

<script type="application/javascript">
    function hightlight($doms) {
        $doms.each(function (i, block) {
            hljs.highlightBlock(block);
        });
    }

    hightlight($("pre code"));
</script>
{% endblock content %}
