{% extends "forum/base.html" %}

{% block title %}
    删除评论 - Rust语言中文社区
{% endblock title %}

{% block content %}
<div class="body-content">
    <h3>
        删除评论
    </h3>
    <p class="new-reply">你正准备删除这条评论：
        <br>
        <span>{{comment.content}}</span>
        <br>
        确定或取消？
    </p>

    <form class="delete_form" action="/s/comment/delete" method="post">
        <input type="hidden" name="article_id" value="{{comment.article_id}}">
        <input type="hidden" name="comment_id" value="{{comment.id}}">
        <br> 
        <input type="submit" value="确定"> &nbsp; <a href="#" onclick="window.history.back();">取消</a>
    </form>

    
</div>
{% endblock content %}
