{% extends "forum/base.html" %}

{% block title %}
    编辑版块
{% endblock title %}

{% block content %}
<div class="body-content">
    <h3>编辑版块</h3>
    <br>
    <form action="/s/section/edit" method="post">
        <input type="hidden" name="id" value="{{section.id}}">
        <br>
        <input type="text" size="20" autofocus="autofocus" placeholder="版块名称" name="title" value="{{section.title}}">
        <br>
        <input type="text" size="20" placeholder="版块描述" name="description" value="{{section.description}}">
        <br>
        <input type="submit" value="提交"/>
    </form>
</div>
{% endblock content %}
