{% extends "base.html" %}

{% block title %}
    编辑版块
{% endblock title %}

{% block content %}
    <div id="edit-section" class="">
        <b>编辑版块</b>
        <br>
        <form>
	    <input type="hidden" name="id" value="{{section.id}}">
            <table border="0">
                <tbody>
                <tr>
                    <td>
			    <input type="text" size="20" autofocus="autofocus" placeholder="版块名称" name="title" value="{{section.title}}">
                    </td>
                </tr>
                <tr>
                    <td>
			    <input type="text" size="20" placeholder="版块描述" name="description" value="{{section.description}}">
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <input type="submit" id="submit" value="提交"/>
        </form>
    </div>

{% endblock content %}
