<div class="header">
    <div class="logo left">
        <a href="/">
			<img class="left" src="/rust-logo.svg"/>
            <div class="logo-title left">Rust 语言中文社区</div>
        </a>
        <div style="clear:both;"></div>
    </div>

    <div class="signpart right">
        {% if user %}
        <a href="/blog?author_id={{user.id}}">{{user.nickname}}</a>
        <a href="/signout">登出</a>
        {% else %}
        <a href="/login_with3rd">登录</a>
        {% endif %}
		
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>
</div>
