{% extends "forum/base.html" %}

{% block title %}
    Rust语言中文社区-首页
{% endblock title %}

{% block content %}
<div class="body-content">
    <div class="action_area">
        <a class="right new-article" href="/p/blogarticle/create">发表新博客</a>
        <a class="right new-article" href="/p/article/create">发表新帖子</a>
        <div style="clear:both;"></div>
    </div>
    
    <div class="article-list-section">
        <div class="article-list-head head">
            <span>最新帖子</span>
        </div>
        {% if articles | length  == 0 %}
        <p>这里还没有内容哦……</p>
        {% else %}
        <div class="article-list-container container article-list">
            <ul>
            {% for article in articles %}
                <li>
                    <a href="/article?id={{ article.id }}" class="title">
                        [{{article.section_title}}]：
                        {{ article.title }}
                    </a>
                    <span class="timestamp right">{{article.created_time | date(format="%Y-%m-%d %H:%M")}}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div style="clear:both;"></div>
    </div>

    <!-- Member Blog Planet Space -->
    <div class="planet-space-section">
        <div class="planet-space-head head">
            <span>博客星球</span>
        </div>
        {% if blog_articles | length == 0 %}
        <p>这里还没有内容哦……</p>
        {% else %}
        <div class="planet-space-container container article-list">
            <ul>
            {% for blog in blog_articles %}
                <li>
                    <a href="/article?id={{ blog.id }}" class="title">{{ blog.author_name }}：{{ blog.title }}</a>
                    <span class="timestamp right">{{blog.created_time | date(format="%Y-%m-%d %H:%M")}}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div style="clear:both;"></div>
    </div>

    <div class="category-list-section">
        {% if sections | length  == 0 %}
        <p>这里还没有内容哦……</p>
        {% else %}
        <div class="category-list-container container">
            <ul>
            {% for sec in sections %}
                <li>
                    <a href="/section?id={{ sec.id }}">{{ sec.title }}</a>
                </li>
            {% endfor %}
            </ul>
            <div style="clear:both;"></div>
        </div>
        {% endif %}
        

    </div>
</div>
{% endblock content %}
