{% extends "forum/base.html" %}

{% block title %}
    新建帖子 - Rust语言中文社区
{% endblock title %}

{% block content %}
<div class="body-content">
    <h3>
        新建帖子
    </h3>
    {% if is_in_blog %}
    <form class="" action="/s/blogarticle/create" method="post">
        <input type="hidden" name="stype" value="1">
    {% else %}
    <form class="" action="/s/article/create" method="post">
        版块：
        <select name="section_id">
            {% for section in sections %}
            {% if section_id == section.id %}
            <option value ="{{section.id}}" selected>{{section.title}}</option>
            {% else %}
            <option value ="{{section.id}}">{{section.title}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input type="hidden" name="stype" value="0">
    {% endif %}
        <input type="hidden" name="from" value="form">
        <input type="text" name="title" placeholder="这里输入标题">
        <br> 
        <input type="text" name="tags" placeholder="这里输入标签 以英文逗号分隔">
        <br> 
        <textarea name="raw_content" placeholder="支持 Markdown 哦，快来试试吧" autofocus></textarea>
        <br> 
        <input type="submit" name="submit">Biu！发送！</input>
    </form>
</div>
{% endblock content %}
