{% extends "forum/base.html" %}

{% block title %}
    创建新版块
{% endblock title %}

{% block content %}
<div id="new-section" class="">
    <b>创建新版块</b>
    <br>
    <form action="/s/section/create" method="post">
        <input type="text" name="title" size="20" autofocus="autofocus" placeholder="版块名称" id="title">
        <br>
        <input type="text" name="description" size="20" placeholder="版块描述" id="description">
        <br>
        <input type="submit" id="submit" value="创建"/>
    </form>
</div>
{% endblock content %}
