{% extends "forum/base.html" %}

{% block title %}
    新评论 - Rust语言中文社区
{% endblock title %}

{% block content %}

<div class="body-content">
	<h3>
		新评论
	</h3>
	<p class="new-reply"> 对如下文章进行回复：<br>
		<span class="article-title">《{{article.title}}》</span>
	</p>
	<form class="" action="/s/comment/new" method="post">
		<input type="hidden" name="article_id" value="{{article.id}}">
		{% if reply_comment %}
		<input type="hidden" name="reply_comment_id" value="{{reply_comment.id}}">
		{% endif %}
		<textarea name="raw_content" placeholder="支持 Markdown 哦，快来试试吧" autofocus>
{% if reply_comment %}
对以下内容的回复：
<pre>{{reply_comment.raw_content}}</pre>
{% endif %}
</textarea>
		<br> 
		<input type="submit" value="Biu！发送！"></input>
	</form>
</div>

{% endblock content %}
