{% extends "forum/base.html" %}

{% block title %}
    {{ section.title }} - Rust语言中文社区
{% endblock title %}

{% block content %}
<div class="body-content">
    <div class="detail-head">
        <div>
            <h3>{{ section.title }}</h3>
            {% if is_myown_blog %}
            <a class="right new-article" href="/p/blogarticle/create">发表新文章</a>
            {% else %}
            <a class="right new-article" href="/p/article/create?section_id={{section.id}}">发表新帖子</a>
            {% endif %}
        </div>
        <p>
            <small>{{ section.description }}</small>
        </p>
        {% if is_a_blog %}
            <label>Github：</label>
            <a class="github" href="{{ user.github }}">{{ user.github }}</a>
        {% endif %}
    </div>

    <div class="section-body article-list">
        {% if articles | length == 0 %}
            <p class="">这里还没有内容哦...</p>
        {% else %}
            <ul>
                {% for article_with_stats in articles %}
                    <li>
                        <span class="left title">
                            <a href="/article?id={{ article_with_stats.article.id }}">{{ article_with_stats.article.title }}</a>
                            <span class="show-count">({{ article_with_stats.viewtimes }},{{ article_with_stats.comment_count }})</span>
                        </span>
                        <span class="right info">
                            <span class="tags">{{ article_with_stats.article.tags }}</span>
                            <span class="author">{{ article_with_stats.article.author_name }}</span> 
                            <span class="timestamp">{{ article_with_stats.article.created_time | date(format="%Y-%m-%d %H:%M") }}</span>
                            {% if is_admin %}
                            <a class="delete" href="/p/article/delete?id={{article_with_stats.article.id}}">删除</a>
                            <a class="edit" href="/p/article/edit?id={{article_with_stats.article.id}}">编辑</a>
                            {% endif %}
                        </span>
                        <div style="clear:both;"></div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="paginator right">
        {% for _ in range(end=total_page) %}
        <a href="/section?id={{section.id}}&current_page={{loop.index}}"
            {% if loop.index==current_page %} class="current_page" {% endif %}>
            {{ loop.index }}
        </a>
        {% endfor %}
        共 {{ total_item }} 篇, 共 {{ total_page }} 页
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock content %}
