{% extends "base.html" %}

{% block title %}
    {{ section.title }} - Rust语言中文社区
{% endblock title %}

{% block content %}
<div class="body-content">
    <div class="detail-head">
        <div>
            <h3>{{ section.title }}</h3>
            {% if is_myown_blog %}
            <a class="right new-article" href="/p/article/create?section_id={{section.id}}">发表新文章</a>
            {% else %}
            <a class="right new-article" href="/p/article/create?section_id={{section.id}}">发表新帖子</a>
            {% endif %}
        </div>
        <p>
            <small>{{ section.description }}</small>
        </p>
        {% if is_a_blog %}
            <label>Github：</label>
            <a class="github" href="{{ user.github }}">{{ user.github }}</a>
        {% endif %}
    </div>

    <div class="detail-body">
        {% if articles | length == 0 %}
            <p class="">这里还没有内容哦...</p>
        {% else %}
            <ul class="nodot items">
                {% for article in articles %}
                    <li class="item {% if not loop.last %} underline {% else %} last {% endif %}">
                        <a href="/p/article?id={{ article.id }}">{{ article.title }}</a>
                        <span class="show-count">({{ article.view_count }},{{ article.comment_count }})</span>
                        <span class="right">
                            <span class="tags">{{ article.tags }}</span>
                            <span class="author">{{ article.author_name }}</span> 
                            <span class="createdTime">{{ article.created_time }}</span>
                            {% if is_admin %}
                            <span class="delete">删除</span>
                            <span class="edit">编辑</span>
                            {% endif %}
                        </span>
                        <div style="clear:both;"></div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="paginator right">
        {% for _ in range(end=total_page) %}
        <a href="/p/section?id={{section.id}}&page={{loop.index}}"
            {% if loop.index==current_page %} class="current_page" {% endif %}>
            {{ loop.index }}
        </a>
        {% endfor %}
        共 {{ total_item }} 篇, 共 {{ total_page }} 页
    </div>
</div>
{% endblock content %}
